<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>

      {% include header.html %}

      <div class="container">
          <article itemscope itemtype="http://schema.org/Article" class="post">
            <h1 class="post__title" itemprop="name">{{ page.title }}</h1>
            <div class="post__content" itemprop="articleBody">
              {{ content }}
            </div>
            <hr>
            <p class="post__author">Por <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Andre Loureiro</span> em <time itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time></p>
          </article>
          <br>
          {% include share.html %}
          {% include related.html %}
      </div>

    <!-- build:js({app,.tmp}) /js/scripts.js -->
    <script src="/js/app.js"></script>
    <!-- endbuild -->
    </body>
</html>
