<!DOCTYPE html>
<html>
    {% include head.html %}
    <body itemscope itemtype="http://schema.org/Article">

      {% include header.html %}

      {% if page.featured_image %}
      <div class="post__featured-image" style="background-image:url({{ page.featured_image }})">
      </div>
      {% endif %}

      <div class="container">
          <article class="post">
            <h1 class="post__title" itemprop="name">{{ page.title }}</h1>
            <p class="post__author"><time class="post__time" datetime="{{ page.date }}" itemprop="dateCreated">{{ page.date | timeago }}</time> POR <span itemprop="author">ANDRE LOUREIRO</span></p>
            <br>
            <div class="post__content" itemprop="articleBody">
              {{ content }}
            </div>
          </article>
          {% include share.html %}
          {% include related.html %}
      </div>

      {% include about.html %}

    <!-- build:js({app,.tmp}) /js/scripts.js -->
    <script src="/js/app.js"></script>
    <!-- endbuild -->
    </body>
</html>
