---
layout: default
title: Andre Loureiro
---

{% for post in site.posts %}
	<article class="post">
		<h1 class="post__title">
		{% if post.category contains 'html' or post.category contains 'css' or post.category == 'javascript' or post.category == 'js' %}
		<i class="fa fa-code"></i>
		{% elsif post.category contains 'writing' or post.category contains 'off-topic' %}
		<i class="fa fa-pencil"></i>
		{% elsif post.category contains 'photo' %}
		i.<fa class="fa-retro-camera"></fa>
		{% elsif post.category contains 'video' %}
		<i class="fa fa-youtube-play"></i>
		{% endif %}
		<a href="{{ post.url }}" class="title--link">{{ post.title }}</a></h1>
		<!-- <time datetime="{{ post.date }}">{{ post.date | localize: "%d de %B de %Y" }}</time> -->
		<time class="post__time" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
		<br>
		<!-- <div class="post__content">
			{{ post.content | readmore: post.url, 'Veja mais' }}
		</div> -->
	</article>
	<!-- <div class="post__divisor"></div> -->
{% endfor %}