---
layout: default
title: Andre Loureiro
---

{% for post in site.posts %}
	<article class="post">
		{% if post.featured_image %}
		<a href="{{ post.url }}">
			<img src="{{ post.featured_image }}" alt="{{ post.title }}">
		</a>
		{% endif %}
		<h1 class="post__title"><a href="{{ post.url }}" class="title--link">{{ post.title }}</a></h1>
		<!-- <time datetime="{{ post.date }}">{{ post.date | localize: "%d de %B de %Y" }}</time> -->
		<p class="post__author"><time class="post__time" datetime="{{ post.date }}">{{ post.date | timeago }}</time></p>
		<br>
		<div class="post__content">
			{{ post.content | readmore: post.url, 'Veja mais' }}
		</div>
	</article>
{% endfor %}