<div class="about">
  <div class="container">
  	<div class="about__pic">
  		<img src="/images/me.jpg" alt="" class="pic__img" />
  	</div>
	  <!-- <div class="title">SOBRE <h1>ANDRE LOUREIRO</h1></div> -->
	<div class="about__content">
		<h3 class="about__title">SOBRE <span itemprop="author">ANDRE LOUREIRO</span></h3>
		  <p class="about__text">Desenvolvedor Front-End na área de Projetos da <a href="http://opus-software.com.br" class="text--link">Opus Software.</a>
		  <br>
		  Formado em Comunicação Visual, passa os dias brincando com HTML5, CSS3 e JavaScript e lendo sobre UX.</p>
	</div>
	<ul class="about__social">
	  	<li class="social__item">
	  		<a href="{{ site.social.twitter }}" class="social__link link--twitter">
	  			<i class="fa fa-twitter"></i> TWITTER
	  		</a>
	  	</li>
	  	<li class="social__item">
	  		<a href="{{ site.social.facebook }}" class="social__link link--facebook">
	  			<i class="fa fa-facebook"></i> FACEBOOK
	  		</a>
	  	</li>
	  	<li class="social__item">
	  		<a href="{{ site.social.plus }}" class="social__link link--plus">
	  			<i class="fa fa-google-plus"></i> PLUS
	  		</a>
	  	</li>
	  	<li class="social__item">
	  		<a href="{{ site.social.github }}" class="social__link link--github">
	  			<i class="fa fa-github-alt"></i> GITHUB
	  		</a>
	  	</li>
	  	<li class="social__item">
	  		<a href="/feed.xml" class="social__link link--rss">
	  			<i class="fa fa-rss"></i> RSS
	  		</a>
	  	</li>
	  	<li class="social__item">
	  		<a href="mailto:andreloureiroo@gmail.com" class="social__link link--mail">
	  			<i class="fa fa-envelope"></i> MAIL
	  		</a>
	  	</li>
	  </ul>

  </div>
</div>