<div class="about">
  <img src="/img/me.jpg" alt="" class="me">
  <div class="title">SOBRE <h1>ANDRE LOUREIRO</h1></div>
  <p class="text">Meu nome é <strong itemprop="author">André Loureiro</strong>, sou desenvolvedor Front-End na <a href="http://opus-software.com.br" target="_blank">Opus Software</a>.</p>
  <p class="text" itemprop="genre">Aqui você vai encontrar algumas coisas sobre desenvolvimento Front-End, Design Responsivo, Performance, futebol e etc.</p>
  <p class="social">
    <a href="http://twitter.com/anlo_"><i class="fa fa-twitter"></i></a>
    <a href="http://google.com/+andreloureiroo"><i class="fa fa-google-plus"></i></a>
    <a href="mailto:andreloureiroo@gmail.com"><i class="fa fa-envelope"></i></a>
  </p>
</div>