<footer>
	<div class="container">
		<div class="me"></div>
		<h1 class="title">Hi! I'm <span itemprop="author">Andre Loureiro</span></h1>
		<p class="text">I'm a Front-End Developer @ <a href="http://opus-software.com.br" target="_blank">Opus Software</a>, graduated in Graphic Design @ <a href="http://unip.br" target="_blank">UNIP.</a></p>
		<p class="text" itemprop="genre">Here you will find some stuff about Front-End Development, Responsive Web Design, Performance improvements, soccer and etc.</p>
	</div>
</footer>