<header>
    <nav>
      <ul class="menu">
        <li class="item"><a href="/" class="link">HOME<i class="fa fa-home"></i></a></li>
        <li class="item"><a href="/blog" class="link">WRITINGS<i class="fa fa-align-left"></i></a></li>
        <li class="item"><a href="/projects" class="link">PROJECTS<i class="fa fa-rocket"></i></a></li>
        <li class="item"><a href="/labs" class="link">LABS<i class="fa fa-flask"></i></a></li>
        <li class="item"><a href="mailto:andreloureiroo@gmail.com" class="link">MAIL ME<i class="fa fa-envelope"></i></a></li>
        <li class="item"><a href="http://twitter.com/anlo_" target="_blank" class="link">TWEETS<i class="fa fa-twitter"></i></a></li>
        <li class="item"><a href="http://plus.google.com/+AndreLoureiroo" target="_blank" class="link">GOOGLE+<i class="fa fa-google-plus"></i></a></li>
        <li class="item"><a href="http://github.com/andreloureiro"  target="_blank" class="link">GITHUB<i class="fa fa-github"></i></a></li>
      </ul>
    </nav>
</header>