<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<link rel="shortcut icon" sizes="196x196" href="img/icon_196.png">
<link rel="shortcut icon" sizes="128x128" href="img/icon_128.png">
<link rel="apple-touch-icon" sizes="128x128" href="img/icon_128.png">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="img/icon_128.png">

<!-- build:css({app,.tmp}) /css/main.css -->
<!-- Syntax highlighting CSS -->
<link rel="stylesheet" href="/css/syntax.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
<link rel="stylesheet" href="/_bower_components/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/app.css">
<!-- endbuild -->

<!-- Google Plus -->
<link rel=”author” href=”https://plus.google.com/+AndreLoureiroo“/>

