<div class="line"></div>
<header>
    <div class="container">
    	<a href="/" class="header__logo">
	        <img src="/images/logo.svg" alt="Andre Loureiro logo" width="50"/>
	    </a>
	    <nav class="menu">
		    <ul class="menu__list">
		        <li class="menu__list-item">
		            <a href="/sobre" class="list-item__link {% if page.class == 'sobre' %}{{list-item__link--ACTIVE}}{% endif %}">
		                SOBRE
		            </a>
		        </li>
		        <li class="menu__list-item">
		            <a href="/projetos" class="list-item__link {% if page.class == 'projetos' %}{{ list-item__link--ACTIVE }}{% endif %}">
		                PROJETOS
		            </a>
		        </li>
		        <li class="menu__list-item">
		            <a href="/labs" class="list-item__link {% if page.class == 'labs' %}{{ list-item__link--ACTIVE }}{% endif %}">
		                LABS
		            </a>
		        </li>
		    </ul>
		</nav>
    </div>
</header>