<div class="share">
	<h4 class="share__title">
		<i class="fa fa-share"></i> Compartilhe
	</h4>
	<a href="http://twitter.com/intent/tweet?text={{ page.title | stringtourl }}&url={{site.url}}{{page.url}}&via=anlo_" class="twitter button"><i class="fa fa-twitter"></i></a>
	<a href="https://plus.google.com/share?url=http://andrel.me{{ page.url }}" class="google_plus button"><i class="fa fa-google-plus"></i></a>
	<a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook button"><i class="fa fa-facebook"></i></a>
</div>