$sans: 'Roboto', Helvetica, Arial, sans-serif;
$serif: 'Roboto Slab', Times New Roman, serif;
$condensed: 'Roboto Condensed', Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5, h6 {
	font-family: $serif;
	color: $black;
  margin: 1.5em 0 0;
  font-weight: 400;
}

h1 {
	font-size: 1.6em;
	line-height: 1.25em;

	// @media (min-width: $tablet-portrait) {
	// 	font-size: 2.5em;
	// 	line-height: 1.125em;
	// }

	// @media (min-width: $tablet-landscape) {
	// 	font-size: 3em;
	// 	line-height: 1.05em;
	// }
}

h2 {
	display: inline-block;
	font-size: 1.4em;
	line-height: 1.15384615em;
	padding-bottom: .5em;
	border-bottom: 2px solid $black;

	// @media (min-width: $tablet-portrait) {
	// 	font-size: 2em;
	// 	line-height: 1.25em;
	// }

	// @media (min-width: $tablet-landscape) {
	// 	font-size: 2.25em;
	// }
}

h3 {
	display: inline-block;
	font-size: 1.3em;
	line-height: 1.13636364em;
	padding-bottom: .5em;
	border-bottom: 2px solid $black;

	// @media (min-width: $tablet-portrait) {
	// 	font-size: 1.5em;
	// 	line-height: 1.25em;
	// }

	// @media (min-width: $tablet-landscape) {
	// 	font-size: 1.75em;
	// }
}

h4 {
	display: inline-block;
	font-size: 1.125em;
	line-height: 1.111em;
	padding-bottom: .5em;
	border-bottom: 2px solid $black;

	// @media (min-width: $tablet-portrait) {
	// 	line-height: 1.222em;
	// }
}

p, li {
	font-family: $sans;
	font-size: 1em;
	line-height: 1.5em;

	@media (min-width: $tablet-portrait) {
		line-height: 1.5em;
	}
}