$white: #fff
$black: #444444
$gray: #95a5a6
$gray-dark: #7f8c8d

$blue: #2c97de
$blue-dark: #227fbb
$blue-darkest: #083f5e
$yellow: #f2c500
$yellow-dark: #f59d00
$red: #e94b35
$red-dark: #c23824
$green: #1eca6b
$green-dark: #1aaf5d

$context-size: 16

$tablet-landscape: 1024
$tablet-portrait: 768
$phone-landscape: 480
$phone-portrait: 320

$title: 'Open Sans Condensed', sans-serif
$text: 'Open Sans', serif
