// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600)

$white: white;
$black: #555555;
$gray: #95a5a6;
$gray-dark: #7f8c8d;

$blue: #2c97de;
$blue-dark: #227fbb;
$blue-darkest: #083f5e;
$yellow: #f2c500;
$yellow-dark: #f59d00;
$red: #e94b35;
$red-dark: #c23824;
$green: #1eca6b;
$green-dark: #1aaf5d;

$twitter: #00acee;
$plus: #dd4b39;
$feed: #e47911;

$context-size: 16;

$tablet-landscape: 64em;
$tablet-portrait: 48em;
$phone-landscape: 30em;
$phone-portrait: 20em;

$title: "Source Sans Pro", Arial, sans-serif;
$text: "Source Sans Pro", Arial, sans-serif;
