$color-white: rgba(252, 252, 252, 1);
$color-black: rgba(85, 85, 85, 1);
$color-gray: rgba(149, 165, 166, 1);
$color-gray-light: rgba(240, 240, 240, 1);
$color-green: rgba(30, 202, 107, 1);

$media-query-small: 40.625em; // 650px
$media-query-medium: 78.125em; // 1200px
$media-query-high: 100em; //1600