@import 'variables';
@import 'mixins';
@import 'typo';

body {
  height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  font-weight: 400;
  color: $color-black;
}

h3, h4, h5, h6 {
  font-family: sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.13636364em;
  color: $color-black;

  @media (min-width: $media-query-small) {
    font-size: 1.5em;
    line-height: 1.25em;
  }
}

h1 > a, h2 > a {
  text-decoration: none;
}

h1, h2 {
  font-family: $font-serif;
}
h3, h4, h5, h6 {
  font-family: $font-sans;
}

h1 {
  font-size: 2em;
  line-height: 1.25em;

  @media (min-width: $media-query-small) {
    font-size: 2.5em;
    line-height: 1.125em;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15em;

  @media (min-width: $media-query-small) {
    font-size: 2em;
    line-height: 1.25em;
  }
}

p {
  margin-bottom: 1em;
  font-family: $font-sans;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.25em;
  color: $color-black;

  @media (min-width: $media-query-small) {
    line-height: 1.375em;
  }
}

a {
  font-weight: 400;
  color: $color-black;
  &:hover {
    color: $color-green
  }
}

img {
  max-width: 100%;
}

.content {
  word-break: break-word;
  
  img {
    display: block;
    margin: auto;
  }
}

pre {
  display: block;
  width: 100%;
  padding: 0.4em 0.4em;
  background: $color-gray-light;
  box-sizing: border-box;
}

code {
  padding: 0.2em 0.4em;
  font-family: monospace;
  background: $color-gray-light;

  span {
    font-weight: 200 !important;
  }
}

blockquote {
  margin-left: 0;
  padding-left: 2em;
  margin-right: 0;
  border-left: 0.4em solid $color-gray-light;
}

ul, ol {
  margin: 0;
  padding-left: 2em;

  li {
    font-family: $font-sans;
    line-height: 1.5;
    font-weight: 200;
  }
}

hr {
  border: none;
  border-top: 2px solid $color-gray-light;
}

.container {
  -webkit-transition: all cubic-bezier(.05,.7,.21,.98) 200ms;
  // position: relative;
  width: 100%;
  margin: auto;

  @media (min-width: $media-query-small) {
    width: 37.5em;
    padding: 0;
  }

  @media (min-width: $media-query-medium) {
    width: 50em;
    padding: 0;
  }
}


header {
  margin-bottom: 3.1em;
  background: $color-white;

  .container {

    .mobile-launcher {
      position: absolute;
      top: 3px;
      right: 0;

      @media (min-width: $media-query-small) {
        display: none;
      }
    }
  }

  @media (min-width: $media-query-small) {
    position: relative;
  }
}

.header__logo {
  display: inline-block;
  vertical-align: middle;
}

// Menu

.menu {
  position: fixed;
  display: block;
  width: 86%;
  // max-width: 18.75em;
  min-height: 100%;
  top: 0;
  right: 0;
  -webkit-transition: all cubic-bezier(.05,.7,.21,.98) 200ms;
  -moz-transition: all cubic-bezier(.05,.7,.21,.98) 200ms;
  -ms-transition: all cubic-bezier(.05,.7,.21,.98) 200ms;
  transition: all cubic-bezier(.05,.7,.21,.98) 200ms;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  background: $color-black;
  box-sizing: border-box;
  // box-shadow: inset 0.4em 0 1em black;
  z-index: 100;

  .menu__list {
    // display: none;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    // border-bottom: 1px solid $color-gray-light;

    .menu__list-item {
      font-family: $font-sans;
      display: block;
      width: 100%;

      .list-item__link {
        display: block;
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
        font-size: 1em;
        text-decoration: none;
        color: $color-gray;
        // border-top: 1px solid $color-gray-light;

        &.list-item__link--ACTIVE {
          color: $color-green;
          background: $color-gray-light;
        }

        &.close {
          padding: 2em 1em;
          text-align: right;
          font-size: 0.6em;
          text-transform: uppercase;
          outline: none;
          -webkit-user-select: none;
          -webkit-user-drag: none;

          @media (min-width: $media-query-small) {
            display: none;
          }
        }
      }
    }

    &.blog {
      .list-item__link.blog {
        color: $color-green;
        background: $color-gray-light;
      }
    }

    &.sobre {
      .list-item__link.sobre {
        color: $color-green;
        background: $color-gray-light;
      }
    }

    &.projetos {
      .list-item__link.projetos {
        color: $color-green;
        background: $color-gray-light;
      }
    }

    &.labs {
      .list-item__link.labs {
        color: $color-green;
        background: $color-gray-light;
      }
    }
  }

  @media (min-width: $media-query-small) {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin-left: 1em;
    background: $color-white;
    -webkit-transform: translateX(0);

    .menu__list {
      display: block;
      border-bottom: none;

      .menu__list-item {
        display: inline-block;
        vertical-align: middle;
        width: auto;

        .list-item__link {
          padding: 0.6em 0.8em;
          border-top: none;
          font-size: 0.8em;
        }

        &.list-item__mobile-close {
          display: none;
        }
      }
    }
  }

  @media (min-width: $media-query-high) {

    .menu__list {

      .menu__list-item {

        .list-item__link {
          font-size: 1.2em;
          padding: 1em;
        }
      }
    }
  }

  &.menu--ACTIVE {
    -webkit-transition: all cubic-bezier(.05,.7,.21,.98) 200ms;
    -moz-transition: all cubic-bezier(.05,.7,.21,.98) 200ms;
    -ms-transition: all cubic-bezier(.05,.7,.21,.98) 200ms;
    transition: all cubic-bezier(.05,.7,.21,.98) 200ms;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}

// article
article, .container.labs, .container.projetos, .container.sobre, .container.post-list {
  padding-left: 1em;
  padding-right: 1em;
  // margin-top: 6em;
  box-sizing: border-box;
}

// Article list item

.post-list__item {
  display: block;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 3em;
  box-sizing: border-box;

  .item__title {
    margin: 0.4em auto 0.4em;
  }
  .item__category {
    display: inline-block;
    vertical-align: middle;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 0.8em;
    color: $color-white;
    background: $color-green;
    text-transform: uppercase;
  }
  .item__date {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 0.4em;
    font-family: $font-condensed;
    font-size: 0.8em;
    font-style: italic;
    font-weight: 300;
    color: $color-gray;
  }

  @media (min-width: $media-query-small) {
    
    .item__category {
      font-size: 0.6em;
    }
  }
}

// Article title

.post__title {
  display: block;
  width: 100%;
  margin-bottom: 3em;

  .post__name {
    margin: 0.4em auto 0.4em;
  }

  .post__meta {
    display: inline-block;
    vertical-align: middle;
    width: 40%;

    .post__category {
      display: inline-block;
      vertical-align: middle;
      padding: 0.2em 0.4em;
      margin: 0;
      font-size: 0.8em;
      color: $color-white;
      background: $color-green;
      text-transform: uppercase;
    }

    .post__date {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 0.4em;
      font-family: $font-condensed;
      font-size: 0.8em;
      font-style: italic;
      font-weight: 300;
      color: $color-gray;
    }
  }

  .post__share {
    display: inline-block;
    vertical-align: middle;
    width: 56%;
    text-align: right;

    .share__list {
      margin: 0;
      padding: 0;

      .share__item {
        display: inline-block;
        vertical-align: middle;
        margin-left: 2%;

        .share__link {
          padding: 0.4em;
        }
      } 
    }
  }

  @media (min-width: $media-query-small) {
    
  }
}


// Article info

.post__info {
  display: block;
  width: 100%;
  margin-top: 2em;
  border-top: 1px solid $color-gray-light;

  .info__by {
    font-size: 0.8em;
    font-style: italic;
    color: $color-gray;
  }
}

// Article share

.share {
  display: block;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;

  .share__title {
    display: inline-block;
    vertical-align: middle;
    width: 5.4em;
  }

  .share__list {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    padding: 0;

    .share__item {
      display: inline-block;
      vertical-align: middle;
      margin-left: 1em;
      text-decoration: none;
    }
  }

  @media (min-width: $media-query-small) {
    
    .share__title {
      width: 7em;
    }

    .share__list {

      .share__item {
        margin-right: 1.2em;
      }
    }
  }
}

// Related articles

.related {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;

  .related__title {

  }

  .related__list {
    padding: 0;

    .related__item {
      list-style-type: none;

      .item__link {
        display: block;
        padding: 0.4em 0.4em;
      }
    }
  }
}

.blur {
  -webkit-transition: all 200ms cubic-bezier(.05,.7,.21,.98);
  -webkit-filter: blur(0.8px);
  -webkit-transform: scale(0.98) translateZ(0);
  opacity: 0.8;
}
