@import variables, mixins


*
	box-sizing: border-box

img
	max-width: 100%

hr
	border: none
	border-top: rem(1) solid lighten($gray, 20%)

body
	background: $white
	width: 100%
	.container
		width: rem(800)
		margin: auto
		@media (max-width: rem($tablet-portrait))
			width: rem(550)
		@media (max-width: rem($phone-landscape))
			width: 100%

header
	-webkit-transition: .25s all ease-out
	position: fixed
	top: 0
	left: rem(-94)
	width: rem(150)
	height: 100%
	background: $blue-dark
	z-index: 300
	&:hover
		-webkit-transition: .25s all ease-out
		-webkit-transform: translateX(rem(94))
	@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
		position: relative
		display: block
		width: 100%
		left: 0
		&:hover
			-webkit-transition: none
			-webkit-transform: none
	@media (max-width: rem($phone-landscape))
		position: relative
		display: block
		width: 100%
		left: 0
		&:hover
			-webkit-transition: none
			-webkit-transform: none
	nav
		display: block
		width: 100%
		.menu
			display: block
			width: 100%
			padding: 0
			margin: 0
			.item
				display: table
				width: 100%
				height: rem(60)

				.link
					display: table-cell
					vertical-align: middle
					width: 100%
					height: 100%
					text-decoration: none
					font-size: rem(12)
					color: $white
					background: $blue-dark
					text-transform: uppercase
					text-align: right
					&:hover
						background: lighten($blue, 10%)
					.fa
						margin: 0 rem(20)
						font-size: rem(20)
						text-align: right
						text-shadow: 0 rem(1) 0 $blue-dark
				@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
					display: inline-table
					width: 24%
					.link
						font-size: rem(10)
						text-align: center
						padding: 0 rem(14)
						.fa
							margin: 0 rem(4)
				@media (max-width: rem($phone-landscape))
					display: inline-table
					width: 24%
					.link
						font-size: rem(10)
						text-align: center
						padding: 0 rem(14)
						.fa
							margin: 0 rem(4)
				@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
					.link
						.fa
							margin: 0 rem(14)
				@media (max-width: rem($phone-portrait))
					.link
						.fa
							margin: 0 rem(10)


section.about
	position: relative
	display: block
	width: 100%
	.container
		width: rem(800)
		margin: auto
		@media (max-width: rem($tablet-portrait))
			width: rem(550)
		@media (max-width: rem($phone-landscape))
			width: 100%

	.card
		position: absolute
		display: block
		top: 20%
		padding: 0 rem(10)
		border: rem(1) solid lighten($gray, 20%)
		background: white
		.title
			font-size: rem(52)
			font-weight: 100
			display: block
			font-weight: 100
			color: $blue-dark

section.post_list
	display: block
	position: relative
	width: 100%
	.post
		margin-top: rem(20)
		.post_description
			display: inline-block
			vertical-align: top
			width: 100%
			height: 100%
			padding: 0 rem(10)
			border: rem(1) solid lighten($gray, 20%)
			background: white
			.title
				margin-bottom: rem(10)
				font-size: rem(52)
				font-weight: 100
				text-align: center
				a
					display: block
					text-decoration: none
					font-weight: 100
					color: $blue-dark
			time
				display: block
				margin-bottom: rem(30)
				color: $gray
				text-align: center
				.time_text
					font-size: rem(12)
			.excerpt
				display: block
				width: 100%

		@media (max-width: rem($phone-landscape))
			width: 94%
			margin-left: 3%
				


article.post
	.title
		display: block
		margin-top: 0
		padding: rem(40) rem(10)
		font-size: rem(52)
		font-weight: 100
		text-decoration: none
		font-weight: 100
		text-align: center
		background: $blue
		color: $white
	time
		display: block
		margin-bottom: rem(20)
		color: $gray
		text-align: center
		.time_text
			font-size: rem(12)
	.excerpt
		display: block
		margin-bottom: rem(40)
		font-size: rem(30)
		text-align: center
		color: $gray-dark
		line-height: 130%
	.content
		display: block
		width: 100%
		line-height: 150%
		padding: 0 rem(10)
		font-size: rem(16)
		color: $black
		h2
			margin-top: rem(50)
			color: $blue
			font-weight: 100
			font-size: rem(30)
			line-height: 150%
		a
			text-decoration: none
			color: $blue-dark
			font-weight: 400
		strong
			font-weight: 100
			color: $blue-dark
		blockquote
			font-size: rem(26)
			line-height: 130%
			font-style: italic
			text-align: center
		pre
			padding: rem(5)
			border: rem(1) solid darken($white, 10%)
			code
				span
					font-size: rem(14)
					font-weight: 200
		p
			code
				padding: rem(3)
				font-size: rem(14)
				border: rem(1) solid darken($white, 10%)
				white-space: nowrap



















