@import variables, mixins

.button
	padding: rem(6) rem(10)
	font-size: rem(12)
	text-transform: uppercase
	background: $red
	color: $white 
	border-radius: rem(2)
	white-space: nowrap
	@media (max-width: rem($phone-landscape))
		width: 90%
		display: block
		margin: auto
		padding: rem(20) rem(10)
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
		width: 90%
		display: block
		margin: rem(10) auto
		padding: rem(20) rem(10)


*
	box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box

h1, h2, h3, h4
	font-family: $title
	font-weight: 400

a
	text-decoration: none
	color: $red
	font-weight: 400

p
	font-family: $text
	font-size: rem(20)
	font-weight: 100

img
	max-width: 100%

hr
	border: none
	border-top: rem(1) solid lighten($gray, 20%)

body
	background: $white
	width: 100%
	.container
		width: rem(1100)
		margin: auto
		@media (max-width: rem($tablet-landscape))
			width: 100%
			padding: 0 2%
		@media (max-width: rem($tablet-portrait))
			width: 100%
			padding: 0 5%
		@media (max-width: rem($phone-landscape))
			width: 100%
			padding: 0 2%
		@media (max-width: rem($phone-portrait))
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
			width: 100%
			padding: 0 2%

		.container_post
			width: 65%
			display: inline-block
			vertical-align: top
			margin: auto
			@media (max-width: rem($tablet-landscape))
			@media (max-width: rem($tablet-portrait))
				width: 100%
			@media (max-width: rem($phone-landscape))
			@media (max-width: rem($phone-portrait))
			@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
				width: 100%

		.container_about
			width: 34%
			padding-left: 5%
			display: inline-block
			vertical-align: top
			margin: auto
			@media (max-width: rem($tablet-landscape))
			@media (max-width: rem($tablet-portrait))
				padding: rem(30) 0
				width: 100%
			@media (max-width: rem($phone-landscape))
				padding: 0 2%
			@media (max-width: rem($phone-portrait))
				padding: 0 2%
			@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
				width: 100%
				padding: 0 2%



header
	-webkit-transition: .25s all ease-out
	position: relative
	width: 100%
	padding: rem(20) 0
	.link
		display: block
		text-decoration: none
		font-family: $title
		font-size: rem(12)
		color: $blue
		text-transform: uppercase
		text-align: center

article.post
	border-bottom: rem(1) solid lighten($gray, 20%)
	padding: rem(20)
	.title
		display: block
		margin: 0 auto
		padding: rem(20) 0
		font-size: rem(60)
		text-decoration: none
		text-align: left
		color: $red
		a
			color: $red
			font-family: $title
		@media (max-width: rem($phone-landscape))
			font-size: rem(40)
		@media (max-width: rem($phone-portrait))
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
			font-size: rem(40)

	time
		display: block
		margin-bottom: rem(10)
		text-align: center
		font-size: rem(12)
		color: $gray
		text-align: left
		text-transform: uppercase
	.content
		display: block
		width: 100%
		line-height: 1.5
		margin-bottom: rem(50)
		p
			font-size: rem(18)
			font-weight: 300
			color: $black
		h1, h2, h3, h4, h5, h6
			margin: rem(40) 0 0
			color: $red
			font-weight: 400
			line-height: 150%
		h1
			font-size: rem(38)
		h2
			font-size: rem(30)
		h3, h4, h5, h6
			font-size: rem(20)

		a
			text-decoration: none
			color: $red
			font-weight: 400
			border-bottom: rem(2) solid transparent
			&:hover
				border-bottom: rem(2) solid $red
		strong
			color: $red
			font-weight: 400
		ul
			padding-left: rem(20)
			li
				font-family: $text
				font-size: rem(18)
				font-weight: 400
				color: $black
		blockquote
			margin: rem(42) rem(16)
			font-size: rem(30)
			line-height: 130%
			font-style: italic
			font-weight: 200
			color: lighten($black, 10%)
			text-align: center

		pre
			padding: rem(5)
			border: rem(1) solid lighten($gray, 25%)
			background: lighten($gray, 30%)
			code
				font-family: monospace, serif
				.lineno
					color: $gray
				span
					font-size: rem(14)
					font-weight: 200
		p
			code
				font-family: monospace, serif
				padding: rem(3)
				font-size: rem(14)
				border: rem(1) solid lighten($gray, 25%)
				background: lighten($gray, 30%)
				white-space: nowrap
				font-weight: 100
		ul
			li
				color: $black
				font-weight: 300
				font-style: rem(20)
		p.read_more
			display: block
			margin: rem(34) 0
			text-align: center
			a
				@extend .button
		p
			img
				display: block
				margin: auto

.about
	.me
		display: block
		width: rem(220)
		height: rem(220)
		margin: auto
		margin-bottom: rem(20)
		border: rem(14) solid lighten($gray, 22%)
		border-radius: 50%
		overflow: hidden
		text-align: center
	.title
		font-family: $title
		color: $red
		font-size: rem(14)
		text-align: left
		h1
			display: inline-block
			font-size: rem(14)
	.text
		display: block
		font-family: $text
		font-size: rem(16)
		color: $black
		strong
			font-weight: 400
			color: $red
	.social
		display: block
		text-align: center
		a
			margin: 0 rem(10)
			.fa
				padding: rem(10)
				border-radius: 50%
			.fa-twitter
				color: $twitter
				background: lighten($twitter, 14%)
				// text-shadow: 0 rem(1) 0 darken($twitter, 10%)
			.fa-google-plus
				color: $gplus
				background: lighten($gplus, 14%)
				// text-shadow: 0 rem(1) 0 darken($gplus, 10%)
			.fa-envelope
				color: $mail
				background: lighten($mail, 22%)
				// text-shadow: 0 rem(1) 0 darken($mail, 10%)

.share
	display: block
	width: 100%
	padding: rem(40) 0
	text-align: center
	.button
		@extend .button
		&.twitter
			background: $blue
		&.google_plus
			background: $red
		&.facebook
			background: $blue-dark
		@media (max-width: rem($tablet-portrait))
			margin-bottom: rem(10)

footer
	display: block
	width: 100%
	padding: rem(40) 0
	text-align: center
	background: $black
	small
		color: $white
		font-size: rem(12)
	

// section.projects_list
// 	article.project
// 		padding: rem(20) 0
// 		border-bottom: rem(1) solid $gray
// 		.title
// 			display: block
// 			margin: 0 auto
// 			padding: rem(10) rem(10)
// 			font-family: $title
// 			font-size: rem(60)
// 			font-weight: 100
// 			text-decoration: none
// 			font-weight: 100
// 			text-align: center
// 			color: $blue
// 		.info
// 			display: block
// 			margin: 0 auto rem(48)
// 			text-align: center
// 			color: $gray
// 		p
// 			font-size: rem(18)
// 			color: $black
// 		h1, h2, h3, h4, h5, h6
// 			margin: rem(40) 0 0
// 			color: $blue
// 			font-weight: 100
// 			line-height: 150%
// 		h1
// 			font-size: rem(38)
// 		h2
// 			font-size: rem(30)
// 		h3, h4, h5, h6
// 			font-size: rem(20)













