@import 'variables';
@import 'mixins';
@import 'typo';

.button {
  width: 30%;
  padding: 0.8em 0.625em;
  font-size: 0.7em;
  text-transform: uppercase;
  background: $blue-darkest;
  color: $white;
  border-radius: 0.15em;
  white-space: nowrap;
  @media (max-width: rem($phone-landscape)) {
    margin: auto;
    padding: 0.8em 0.625em;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    margin: auto;
    padding: 0.8em 0.625em;
  }
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: $title;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $blue;
  font-weight: 400;
}

p {
  font-family: $text;
  font-weight: 300;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  border-top: rem(1) solid lighten($gray, 20%);
}

body {
  background: $white;
  width: 100%;
  .container {
    width: 100%;
    @media (min-width: $tablet-portrait) {
      width: 46em;
      margin: auto;
    }
  }
}

.line {
  display: block;
  width: 100%;
  height: 0.2em;
  background-image: linear-gradient(left, $blue, $green, $yellow, $red)
}

header {
  -webkit-transition: 0.25s all ease-out;
  position: relative;
  width: 100%;
  padding: rem(20) 0;
  text-align: center;
  .header__logo {
    img {
      height: 3em;
    }
  }
}

.post__featured-image {
  display: block;
  width: 100%;
  height: 20em;
  background: center center;
  background-size: cover;

  @media (min-width: $tablet-portrait) {
    height: 30em;
  }
}

.post {

  .post__featured-image {
    display: block;
    width: 100%;
    height: 20em;
    background: center center;
    background-size: cover;

    @media (min-width: $tablet-portrait) {
      height: 30em;
    }
  }

  .post__title {
    display: block;
    margin: 0 auto;
    padding: 1em 4% 0.2em;
    text-decoration: none;
    text-align: center;
    color: $blue-dark;
    .title--link {
      color: $blue;
      font-family: $title;
    }
    @media (min-width: $tablet-landscape) {
      text-align: left;
    }
    @media (max-width: rem($phone-portrait)) {}
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    }
  }
  .post__author {
    padding: 0 4%;
    font-size: 0.6em;
    line-height: 1em;
    text-align: center;
    color: $gray;
    text-transform: uppercase;

    @media (min-width: $tablet-landscape) {
      font-size: 0.8em;
      text-align: right;
    }
  }
  .post__content {
    display: block;
    width: 100%;
    margin-bottom: rem(50);
    padding: 0 4%;
    p {
      font-weight: 300;
      color: #43353D;
    }
    h1, h2, h3, h4, h5, h6 {
      margin: rem(40) 0 0;
      color: $blue-dark;
      font-weight: 400;
    }
    a {
      color: $blue-dark;
      font-weight: 400;
      border-bottom: rem(2) solid transparent;
      }
    }
    strong {
      color: $blue;
      font-weight: 400;
    }
    ul {
      padding-left: rem(20);
      li {
        font-family: $text;
        font-weight: 300;
        color: $black;
      }
    }
    blockquote {
      margin: rem(42) rem(16);
      font-size: rem(30);
      line-height: 130%;
      font-style: italic;
      font-weight: 300;
      color: lighten($black, 10%);
      text-align: center;
    }
    pre {
      padding: rem(5);
      border: rem(1) solid lighten($gray, 25%);
      background: lighten($gray, 30%);
      code {
        font-family: 'Courier New', serif;
        font-size: 0.8em;
        .lineno {
          color: $gray;
        }
        span {
          font-weight: 300 !important;
          -ms-word-wrap: break-word;
          word-break: break-word;
        }
      }
    }
    p {
      code {
        font-family: 'Courier New', serif;
        padding: rem(3);
        font-size: rem(14);
        border: rem(1) solid lighten($gray, 25%);
        background: lighten($gray, 30%);
        // white-space: nowrap;
        font-weight: 300;
      }
    }
    ul {
      li {
        color: $black;
        font-weight: 300;
        font-style: rem(20);
      }
    }
    p.read_more {
      display: block;
      margin: rem(34) 0;
      text-align: center;
      a {
        @extend .button;
        padding: 0.8em 1em;
      }
    }
    p {
      img {
        display: block;
        margin: auto;
      }
    }
  }

.post__divisor {
  display: block;
  width: 100%;
  height: 0.2em;
  margin-bottom: 3em;
  background-image: linear-gradient(left, $white, $gray, $white);
}

.related {
  display: block;
  width: 100%;
  padding: 1em 0 3em;
  .related__title {
    display: block;
    margin-left: 4%;
    font-weight: 300;
    text-align: left;
    color: $gray-dark;

    .fa {
      margin-right: 0.2em;
      font-size: 0.7em;
      color: $gray
    }
  }
  .related__link {
    display: block;
    margin-left: 8%;
    margin-bottom: 1em;
    font-weight: 400;

    .fa {
      margin-left: 0.4em;
    }
  }
}

.share {
  display: block;
  width: 100%;
  padding: 1em 0;
  text-align: left;
  .share__title {
    display: inline-block;
    margin-left: 4%;
    vertical-align: middle;
    font-weight: 300;
    text-align: left;
    color: $gray-dark;

    .fa {
      margin-right: 0.2em;
      font-size: 0.7em;
      color: $gray
    }

    @media (min-width: $tablet-portrait) {
      margin-right: 1em;
    }
  }
  .button {
    @extend .button;
    width: 10%;
    margin-left: 3%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.8em 0.625em;
    background: none;
    &.twitter {
      color: $twitter;
    }
    &.google_plus {
      color: $plus;
    }
    &.facebook {
      color: $facebook;
    }
    @media (min-width: $tablet-portrait) {
      width: 2.2em;
      margin-left: 1em;
    }
    .fa {
      font-size: 2em;
    }
  }
}

.about {
  padding: 1em 0;
  background:#43353D;
  color: $white;

  .about__pic {
    display: block;
    text-align: center;

    .pic__img {
      width: 6em;
      border-radius: 50%;
      border: 0.25em solid $white;
    }

    @media (min-width: $tablet-portrait) {
      display: inline-block;
      vertical-align: middle;
      width: 22%;
    }
  }

  .about__content {
    display: block;
    padding: 0 4%;
    
    .about__title {
      font-size: 0.8em;
      text-align: center;
    }

    .about__text {
      font-weight: 200;
    }

    @media (min-width: $tablet-portrait) {
      display: inline-block;
      vertical-align: middle;
      width: 77%;

      .about__title {
        text-align: left;
        border-bottom: 1px solid $black;
      }
    }
  }

  .about__social {
    display: block;
    margin: 0;
    padding: 0;

    .social__item {
      display: inline-block;
      vertical-align: top;
      width: 32.5%;
      margin-top: 0.25em;
      list-style-type: none;

      @media (min-width: $tablet-portrait) {
        width: 16%;
      }

      .social__link {
        display: block;
        padding: 1em 0;
        color: $white;
        font-size: 0.7em;
        text-align: center;
        background: $gray;

        &.link--twitter {
          background: $twitter;
        }
        &.link--facebook {
          background: $facebook;
        }
        &.link--plus {
          background: $plus;
        }
        &.link--github {
          background: #EEE;
          color: $black;
        }
        &.link--rss {
          background: $rss;
        }&.link--mail {
          background: $green;
        }

        .fa {
          margin-right: 0.6em;
        }
      }
    }
  }
}

footer {
  display: block;
  width: 100%;
  padding: rem(40) 0;
  text-align: center;
  background: $black;
  .social {
    display: block;
    width: 80%;
    margin: auto;
    .link {
      margin: 0 2%;
      padding: rem(4) rem(6);
      color: $white;
      font-size: rem(14);
    }
  }
}